@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@400;900&display=swap");
* {
  margin: 0;
}

:root {
  --clr-background-light: #202226;
  --clr-background-dark: #1d1e21;
  --clr-text-main: #ffffff;
  --clr-text-sub: #9ea2ae;
  --clr-object-fill: #285ce1;

  --font-main: "Albert Sans", sans-serif;
  --font-empathized: "Clash Display", sans-serif;
}

body {
  color: var(--clr-text-main);
  font-family: var(--font-main);
  overflow-x: hidden;
}

header {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-background-dark);
  display: flex;
  flex-direction: column;
}

header > nav {
  align-self: flex-end;
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-right: 3rem;
  height: 40vh;
}

header > nav > :nth-child(n) {
  margin-left: 1.2rem;
  display: inline-block;
  transition: transform 0.2s ease-in;
  text-decoration: none;
  opacity: 0;
  color: var(--clr-text-main);
  transition: all 0.2s;
}

header > nav > :nth-child(n):hover {
  cursor: pointer;
  color: var(--clr-object-fill);
  transform: scale(1.1);
  text-decoration: underline;
}

header > nav > :nth-child(1) {
  animation: showNavigation 0.6s linear forwards 1.2s;
}
header > nav > :nth-child(2) {
  animation: showNavigation 0.6s linear forwards 1.3s;
}
header > nav > :nth-child(3) {
  animation: showNavigation 0.6s linear forwards 1.4s;
}

@keyframes drop {
  0% {
    transform: translateY(-200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(-17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-22px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes dropReverse {
  0% {
    transform: translateY(200px) scaleY(0.9);
    opacity: 0;
  }
  5% {
    opacity: 0.7;
  }
  50% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
  65% {
    transform: translateY(17px) scaleY(0.9);
    opacity: 1;
  }
  75% {
    transform: translateY(-2px) scaleY(0.9);
    opacity: 1;
  }
  100% {
    transform: translateY(0px) scaleY(1);
    opacity: 1;
  }
}

@keyframes showParagraph {
  0% {
    transform: scaleY(0);
  }
  33% {
    transform: scaleY(5);
  }
  66% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

@keyframes showNavigation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes scrollBounce {
  0%,
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    transform: translateY(-25%);
  }
  50% {
    -webkit-animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    transform: none;
  }
}

@keyframes showElement {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header > section {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: auto;
}

header > section > button > img {
  transform: scale(1.4);
}

header > section > :nth-child(n) {
  margin: 0.4rem;
}

header > section > p:first-child {
  font-size: 1.8rem;
  transform: scaleY(0);
  animation: showParagraph 0.4s linear forwards 1s;
}

header > section > h1 {
  font-size: 10rem;
  font-weight: bold;
  font-family: var(--font-empathized);
  display: flex;
}

header > section > h1 > .name-wrapper > p:nth-child(n) {
  transition: color 0.2s;
  opacity: 0;
}

header > section > h1 > .name-wrapper > p:nth-child(n):hover {
  color: var(--clr-object-fill);
  cursor: default;
}

header > section > p:nth-child(3) {
  font-size: 2rem;
  opacity: 0;
  animation: dropReverse 0.4s linear forwards 0.6s;
}

header > section > button {
  opacity: 0;
  width: 100px;
  height: 140px;
  border: none;
  background-color: transparent;
  display: flex;
  align-self: center;
  justify-content: flex-end;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.1rem;
  color: var(--clr-text-main);
  font-family: var(--font-main);
  -webkit-animation: scrollBounce 1s infinite, showElement 1s;
  animation: scrollBounce 1s infinite, showElement 0.6s 1 1.8s forwards;
}

header > section > button:hover {
  cursor: pointer;
  filter: invert(29%) sepia(88%) saturate(3326%) hue-rotate(219deg)
    brightness(91%) contrast(93%);
}

header > section > button > img {
  width: 45px;
  height: 45px;
  filter: invert(100%);
}

header > section > button {
  font-size: 1.6rem;
}

.m {
  animation: drop 0.4s linear forwards;
}

.a {
  animation: drop 0.4s linear forwards 0.05s;
}

.r {
  animation: drop 0.4s linear forwards 0.1s;
}

.c {
  animation: drop 0.4s linear forwards 0.15s;
}

.i {
  animation: drop 0.4s linear forwards 0.2s;
}

.n {
  animation: drop 0.4s linear forwards 0.25s;
}

.b {
  animation: drop 0.4s linear forwards 0.3s;
}

.u {
  animation: drop 0.4s linear forwards 0.35s;
}

.r2 {
  animation: drop 0.4s linear forwards 0.4s;
}

.e {
  animation: drop 0.4s linear forwards 0.45s;
}

.t {
  animation: drop 0.4s linear forwards 0.5s;
}

.a2 {
  animation: drop 0.4s linear forwards 0.55s;
}

.about-me {
  background-color: var(--clr-background-light);
  width: 100%;
  height: 45vh;
}

.about-me-wrapper {
  width: 80%;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  max-width: 800px;
  margin-left: -2.8rem;
}

.about-me-wrapper > h2 {
  transform: rotate(-90deg);
  color: var(--clr-object-fill);
  font-size: 4.8rem;
  border-bottom: 3px solid var(--clr-object-fill);
  padding-right: 4rem;
  padding-top: 3rem;
  line-height: 4.5rem;
}

.about-me-text {
  font-size: 1.9rem;
  position: relative;
  line-height: 2.2rem;
}

.name-wrapper {
  display: flex;
}

.about-me {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills {
  width: 100vw;
  height: 100vh;
  background-color: var(--clr-background-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skills-header {
  max-width: 1200px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  border: 10px solid var(--clr-object-fill);
  padding-right: 4rem;
}

.skills-box {
  font-size: 3rem;
  font-weight: bold;
  transform: translateX(-3.2rem) rotate(-90deg);
  background-color: var(--clr-object-fill);
  padding: 1rem;
  color: var(--clr-background-dark);
}

.skills-description {
  font-size: 1.8rem;
  color: var(--clr-text-sub);
}

.skills-display {
  margin-top: 8rem;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}

.skills-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  height: 40vh;
  width: 30vw;
  min-width: 400px;
}

.skills-row:last-child {
  margin-left: 50px;
  border-left: 1.5px solid rgba(255, 255, 255, 0.4);
}

.skills-row > p {
  opacity: 0.8;
}

.skills-icons {
  margin-left: 100px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
}

.icon-cell {
  width: 100px;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2.4rem;
  transition: transform 0.2s;
}

.icon-cell:hover {
  transform: translateY(-1rem);
}

.icon-cell > img {
  width: 48px;
  height: 48px;
}

.html5-icon {
  transform: scale(0.8);
}

.featured-projects {
  background-color: var(--clr-background-light);
  height: 150vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-header {
  font-size: 4rem;
  width: 80vw;
  max-width: 1400px;
  line-height: 4.4rem;
  font-family: var(--font-empathized);
  color: var(--clr-object-fill);
}

.project-wrapper {
  display: grid;
  width: 80vw;
  max-width: 1400px;
  height: 40vh;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-name {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
}

.project-about {
  color: var(--clr-text-sub);
  font-size: 1.8rem;
  font-family: var(--font-main);
}

.project-show-wrapper {
  background-color: var(--clr-background-dark);
  width: 40vw;
  max-width: 600px;
  height: 22.5vw;
  max-height: 337px;
  margin-top: 2rem;
}

footer {
  width: 100vw;
  height: 90vh;
  background-color: var(--clr-background-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-header > h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-family: var(--font-empathized);
  color: var(--clr-object-fill);
  opacity: 0.9;
}

.form-header > p {
  font-size: 5rem;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  max-width: 800px;
}

label {
  color: var(--clr-text-sub);
  font-family: var(--font-empathized);
  margin-top: 15px;
  margin-bottom: 4px;
}

.contact-input {
  border-radius: 10px;
  padding-left: 10px;
  font-size: 1.3rem;
  color: var(--font-main);
  background-color: var(--clr-background-light);
  border: none;
  padding-top: 10px;
  padding-bottom: 5px;
}

.contact-input:hover {
  border-bottom: 3px solid rgba(128, 128, 128, 0.4);
  margin-bottom: -3px;
}

.contact-input:focus {
  outline: none;
  border-bottom: 3px solid gray;
  margin-bottom: -3px;
}

.message {
  resize: none;
}

.message:hover {
  border: 2px solid rgba(128, 128, 128, 0.6);
  margin: -2px;
}

.message:focus {
  border: 2px solid gray;
  margin: -2px;
}

.send-form-btn {
  width: 160px;
  height: 50px;
  border: none;
  background-color: var(--clr-object-fill);
  font-weight: bold;
  color: var(--font-main);
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 30px auto;
}

.send-form-btn:active,
.send-form-btn:hover {
  cursor: pointer;
  border: 2px solid white;
}

.miscs {
  background-color: var(--clr-background-dark);
  width: 100vw;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.miscs > div {
  height: 200px;
  width: 200px;
  border: 5px solid var(--clr-background-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.miscs > div:nth-child(n + 2) {
  border-left: none;
}

.miscs__img {
  width: 120px;
  transition: transform 0.4s;
}

.miscs__img:hover {
  transform: scale(0.9);
}

.miscs__text {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.project-image {
  width: 100%;
}

.button-img:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.project-mobile {
  display: none;
}

@media (max-width: 600px) {
  header > section > p:first-child {
    font-size: 6vw;
  }

  header > section > h1 {
    font-size: 22vw;
  }

  header > section > p:nth-child(3) {
    font-size: 6vw;
  }

  header > nav {
    height: 10vh;
  }

  header > section {
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 20vh;
  }

  header > section > :nth-child(n) {
    margin: 0.2rem;
  }

  header > section > button {
    padding-top: 16rem;
    font-size: 1.8rem;
  }

  header > section > button > img {
    transform: scale(1.4);
  }

  h1 {
    display: flex;
    flex-direction: column;
    line-height: 20vw;
  }

  .about-me {
    align-items: center;
    justify-content: center;
    height: fit-content;
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .about-me-wrapper {
    justify-content: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 1rem;
    width: 80%;
    height: fit-content;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
  }

  .about-me-wrapper > h2 {
    transform: rotate(0);
    padding: 0;
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
    padding-right: 17vw;
    align-self: flex-start;
  }

  .about-me-text {
    font-size: 1.4rem;
  }

  .about-me-text {
    line-height: 1.6rem;
  }

  .about-me-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .skills-header {
    width: 90vw;
    padding: 0;
    flex-direction: column;
    border: none;
  }

  .skills-description {
    font-size: 1.4rem;
  }

  .skills-box {
    transform: none;
    margin: 0;
    border-radius: 25px;
    margin-top: 140px;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .skills-display {
    margin-top: 180px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .skills-row:last-child {
    border-left: none;
  }

  .skills {
    height: fit-content;
  }

  .skills-icons {
    margin: 0;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .project-show-wrapper {
    height: 230px;
    margin: 0;
    margin-bottom: 100px;
    margin-top: -50px;
  }

  .featured-projects {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .project-name {
    font-size: 2rem;
    line-height: 2rem;
  }

  .project-about {
    font-size: 1.4rem;
  }

  .projects-header {
    font-size: 4rem;
    line-height: 3.6rem;
    border-bottom: 10px solid var(--clr-object-fill);
  }

  .skills-row:nth-child(2) {
    margin-top: 40px;
  }

  .project-desktop {
    display: none;
  }

  footer {
    height: fit-content;
  }

  .miscs {
    flex-direction: column;
    height: fit-content;
  }

  .miscs > div {
    border: none;
    border-top: 5px solid var(--clr-background-light);
    border-left: 5px solid var(--clr-background-light) !important;
    border-right: 5px solid var(--clr-background-light);
  }

  .miscs > div:last-child {
    border-bottom: 5px solid var(--clr-background-light);
    margin-bottom: 10px;
  }

  .skills-display {
    align-items: center;
  }

  .project-mobile {
    display: block;
  }

  .project-show-wrapper {
    width: 80vw;
    height: 35vw;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  header > section > p:first-child {
    font-size: 5vw;
  }

  header > section > h1 {
    font-size: 22vw;
  }

  header > section > p:nth-child(3) {
    font-size: 5vw;
  }

  header > nav {
    height: 10vh;
  }

  header > section {
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 20vh;
  }

  header > section > :nth-child(n) {
    margin: 0.2rem;
  }

  header > section > button {
    padding-top: 8vh;
  }

  h1 {
    display: flex;
    flex-direction: column;
    line-height: 18vw;
  }

  header > section > button {
    font-size: 1.6rem;
    padding-top: 25%;
  }

  header > section > button > img {
    transform: scale(1.4);
  }

  .about-me {
    align-items: center;
    height: fit-content;
    padding: 0;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .about-me-wrapper {
    flex-direction: column;
    padding: 0;
    font-size: 1rem;
    width: 80%;
  }

  .about-me-wrapper > h2 {
    transform: rotate(0);
    padding: 0;
    padding-bottom: 0.4rem;
    margin-bottom: 0.4rem;
    padding-right: 55%;
    align-self: flex-start;
  }

  .about-me-text {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  .skills-header {
    width: 75vw;
  }

  .skills-description {
    font-size: 1.2rem;
    margin: -50px;
  }

  .project-desktop {
    display: none;
  }

  .skills-header {
    width: 90vw;
    padding: 0;
    flex-direction: column;
    border: none;
  }

  .skills-description {
    font-size: 1.4rem;
  }

  .skills-box {
    transform: none;
    margin: 0;
    border-radius: 25px;
    margin-top: 140px;
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .skills-display {
    margin-top: 180px;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .skills-row:last-child {
    border-left: none;
  }

  .skills {
    height: fit-content;
  }

  .skills-icons {
    margin: 0;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;
  }

  .project-show-wrapper {
    height: 230px;
    margin: 0;
    margin-bottom: 180px;
    margin-top: -50px;
  }

  .featured-projects {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .project-name {
    font-size: 3rem;
    line-height: 2rem;
  }

  .project-about {
    font-size: 1.6rem;
  }

  .projects-header {
    font-size: 4rem;
    line-height: 3.6rem;
    border-bottom: 10px solid var(--clr-object-fill);
  }

  .skills-row:nth-child(2) {
    margin-top: 40px;
  }

  .project-desktop {
    display: none;
  }

  footer {
    height: fit-content;
  }

  .skills-header {
    margin-top: -40px;
    width: 80vw;
  }

  .skills-description {
    margin-top: 0px;
    width: 80vw;
  }

  .skills-display {
    align-items: center;
  }

  .project-mobile {
    display: block;
  }

  .project-show-wrapper {
    width: 80vw;
    height: 35vw;
  }
}

@media (min-width: 901px) and (max-width: 1200px) {
  header > section > p:first-child {
    font-size: 2.5rem;
  }

  header > section > h1 {
    font-size: 13rem;
  }

  header > section > p:nth-child(3) {
    font-size: 2.5rem;
  }

  header > nav {
    height: 10vh;
  }

  header > section {
    justify-content: flex-start;
    margin-bottom: 0;
    margin-top: 20vh;
  }

  header > section > :nth-child(n) {
    margin: 0.2rem;
  }

  header > section > button {
    font-size: 1.6rem;
    padding-top: 5vh;
  }

  header > section > button > img {
    transform: scale(1.4);
  }

  h1 {
    display: flex;
    flex-direction: column;
    line-height: 10.5rem;
  }

  .project-name {
    font-size: 2.2rem;
    line-height: 2rem;
  }

  .project-about {
    font-size: 1.3rem;
  }

  .project-show-wrapper {
    width: 48vw;
    height: 27vw;
  }

  .project-name {
    margin: 0;
    margin-bottom: 10px;
  }
}
